.grid {
    display: grid;
    gap: 30px;

    @include xlg {
        gap: 60px;
    }
}

.grid--50-50 {
    grid-template-columns: initial;

    @include xlg {
        grid-template-columns: 1fr 1fr;
    }
}

.grid--60-40 {
    grid-template-columns: initial;

    @include xlg {
        grid-template-columns: 3fr 2fr;
    }
}

.grid--40-60 {
    grid-template-columns: initial;

    @include xlg {
        grid-template-columns: 2fr 3fr;
    }
}
