.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid $color-border;
    background: #020202;

    @include md {
        padding: 15px 45px;
    }
}

.header__logo {
    color: $color-text-primary;
    font-size: 1.75rem;
    text-decoration: none;
    font-family: $font-family-heading;
    font-weight: 600;
    display: flex;
    align-items: center; 

    @include md {
        font-size: 2.125rem;
    }
}

.header__logo-icon {
    color: $cyan;
    display: flex;
    align-items: center;
}