$color-background: #080f18;
$color-surface: #1e293b;

$color-background-alt: #0b111b;
$color-background-alt2: #0d151f;

$cyan: #0299ea;
$magenta: #e300a2;

$cyan-hover: #0372ae;
$magenta-hover: #c7008e;

$color-text-primary: #ffffff;
$color-text-secondary: #94a3b8;

$color-border: #0f1721;

$font-body: var(--font-inter);
$font-heading: var(--font-sora);

$font-family-heading: $font-heading;
$font-family-body: $font-body;