.button {
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.25rem;
    margin-right: 15px;
    padding: 16px;
    transition: all .125s ease-in-out;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 8px;

    &--primary {
        background: $cyan;

        &:hover,
        &:focus {
            background: $cyan-hover
        }
    }

    &--secondary {
        border: 1px solid $color-border;

        &:hover,
        &:focus {
            background: $cyan-hover;
            border: 1px solid $cyan-hover;
        }
    }

    @include md {
        padding: 8px 16px;
        width: auto;
        text-align: initial;
    }
}