.button {
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.25rem;
    margin-right: 15px;
    padding: 8px 16px;
    transition: all .125s ease-in-out;

    &--primary {
        background: $cyan;

        &:hover,
        &:focus {
            background: $cyan-hover
        }
    }

    &--secondary {
        border: 1px solid $color-border;

        &:hover,
        &:focus {
            background: $cyan-hover;
            border: 1px solid $cyan-hover;
        }
    }
}