.hero {
    color: $color-text-primary;
    padding: 120px 120px;
    border-bottom: 2px solid $color-border;
}

.hero__grid {
    margin: auto;
}

.hero__left {
    
}

.hero__right {
    
}

.hero__title {
    margin-bottom: 30px;
    font-size: 4rem;
}

.hero__subtitle {
    margin-bottom: 15px;
    color: $cyan;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.hero__description {
    color: $color-text-secondary;
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 2rem;
}

.hero__actions {
    margin-bottom: 60px;
}

.hero__media {
    border-radius: 30px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 100;
}
         
.hero__links {
    width: 32px;
    fill: $color-text-primary;
    display: grid;
    grid-template-columns: repeat(3, 45px);
    gap: 45px;
}