.projects {
    padding: 120px 120px 30px;
}

.project-tiles {
    margin-top: 45px;

    @include lg {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
}

.project-tile {
    border-radius: 15px;
    border: 1px solid $color-border;
    overflow: hidden;
    box-shadow: 0 0 10px 2px #010101;
    max-width: 536px;
    margin-bottom: 30px;
}

.project-tile__media {
    background-color: $color-border;
    text-align: center;
}

.project-tile__media-img { 

}

.project-tile__content {
    padding: 15px;
    background-color: $color-background-alt2;
}

.project-tile__title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $color-text-primary;
    font-size: 1.5rem;
    margin: 0 0 8px;
}

.project-tile__description {
    color: $color-text-secondary;
    margin: 0 0 30px;
}

.project-tile__tags {
    

}

.project-tile__tag {
    color: $color-text-primary;
    background: $color-border;
    border: 1px solid $color-border;
    margin-right: 8px;
    padding: 2px 8px;
    border-radius: 4px;
}
