.projects {
    padding: 120px 120px 30px;
}

.project-tiles {
    margin-top: 45px;

    @include md {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }

    @include xlg {
        display: grid;
        grid-template-columns: repeat(3, minmax(380px, 1fr));
        gap: 30px;
    }
}

.project-tile {
    border-radius: 15px;
    border: 1px solid $color-border;
    overflow: hidden;
    box-shadow: 0 0 10px 2px #010101;
    max-width: 536px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: all .25s ease;
    display: block;
    width: 100%;

    &:hover,
    &:focus {
        transform: translateY(-15px);
        box-shadow: 0 0 20px -10px #fff;
    }
}

.project-tile__media {
    background-color: $color-border;
    text-align: center;
    margin: auto;
}

.project-tile__media-img { 
    max-width: 100%;
    height: auto;
}

.project-tile__content {
    padding: 15px;
    background-color: $color-background-alt2;
    min-height: 225px;
    display: flex;
    flex-direction: column;
}

.project-tile__title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $color-text-primary;
    font-size: 1.5rem;
    margin: 0 0 8px;
}

.project-tile__description {
    color: $color-text-secondary;
    margin: 0 0 30px;
}

.project-tile__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;
}

.project-tile__tag {
    color: $color-text-primary;
    background: $color-border;
    border: 1px solid $color-border;
    padding: 2px 8px;
    border-radius: 4px;
}
